<%- include('../layouts/header', { title: 'Home' }) %> <%-
include('../layouts/menu') %>

<section class="section hero is-link is-fullheight-with-navbar">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">Lista de Tarefas</h1>
      <h2 class="subtitle">Organize suas Tarefas =D</h2>
      <a href="/checklists" class="button is-light is-medium">
        Ir para Listas
      </a>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
