<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <i class="bx bxl-nodejs bx-burst bx-sm"></i>
    </a>
    <a class="navbar-item" href="#"> To-Do-List </a>

    <div class="navbar-burger burger" data-target="navMenuColorblack-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
