button {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}

button:hover {
  background-color: #18d307;
  color: #000;
  font-weight: bold;
}
